table{
    width: 600px;height: 400px;
    border-style:solid;
    text-align: center; 
    border:none;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td{
    border: 2px solid black
}

#titulo, #sub{
    background-color: darkgreen;
    border-color: black;
    color: aliceblue;
    font-weight:bold;
}
